{% extends 'base.html.twig' %}

{% block title %}Address index{% endblock %}

{% block body %}
    <h1>Address index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>City</th>
                <th>Country</th>
                <th>actions</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td>{{ address.id }}</td>
                <td>{{ address.number }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.country }}</td>
                <td>{{ address.user }}</td>
                <td>
                    <a href="{{ path('address_show', {'id': address.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
